* {
    padding: 0;
    margin: 0;
}

.Body-home {
    background: rgb(255, 216, 251);
    background: linear-gradient(225deg, rgba(255, 216, 251, 1) 5%, rgba(165, 255, 253, 0.9668242296918768) 100%);
}

.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 500px;
}